.hidden {
    display: none !important;
}

#app {
    width: 80%;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
    font-size: small;
}

.header {
    padding: 2px;
    background-color: rgb(255, 102, 0);
    display: flex;
}

.cf::after {
    content: '';
    clear: both;
    display: table-cell;
}

.icon {
    background-image: url('../img/y18.gif');
    width: 20px;
    min-width: 20px;
    height: 18px;
    border: 1px white solid;
    float: left;
}

.header-nav {
    float: left;
    margin-left: 1em;
}

.header-nav a:link, 
.header-nav a:visited {
    color: #000000;
    text-decoration: none;
}


.stories {
    background-color: rgb(246, 246, 239);
}

.arrow {
    background-size: 10px;
    background-image: url('../img/grayarrow2x.gif');
    display: inline-block;
    width: 10px;
    height: 10px;
}

.arrow.flipped {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

*, :after, :before {
  box-sizing: border-box;
}

.number, .source, .arrow, .bottom {
    color: grey;
}

.number {
    padding: 0 3px;
}

.pseudo-number {
    opacity: 0;
    font-size: 100%;
}

.source {
    font-size: 80%;
}

.bottom {
    margin-bottom: 1em;
    font-size: 80%;
    margin-left: 22px;
}

.comment-counter {
    text-decoration: underline;
    cursor: pointer;
}

.comments {
    margin-left: 5em;
    background-color: #eee;
}

.comment-extras {
    color: grey;
    font-size: 80%;
}